<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="wwwi.png">
    <link rel="shortcut icon" type="image/ico" href="wwwi.png">
    
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main2.css">
  
  </head>


  <body>
  
 <div id="style_container">
  <div id="style_header">
  <div id="style_title">My pages</div>
  <div id="style_subtitle">kakakaka ff</div>
 
 
    <nav>
<ul class="solidblockmenu">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/travel">Travel</a></li>
<li><a href="/likes">Likes</a></li>
<li><a href="/thoughts">Thoughts</a></li>
<li><a href="/inspiration">Inspiration</a></li>
</ul>
    </nav>
    
<div id="style_content">

<div id="style_left_column">
  <div class="section_box" align="letf">
  </div>
</div>  

<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:wiwiw@gmail.com">email</a></li>
   <li><a href="https://github.com/witbag">github.com/witbag</a></li>
   </ul>
  </footer>
  </body>

</html>
