<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/wwwi.png">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">   **** This makes it more mobile friendly -->
    <!-- <meta name="viewport" content="initial-scale=1">   **** This makes it more mobile friendly -->
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

  <body>
    
  <div id="style_container">
   <div id="style_header">
   <div id="style_title">My notes</div>
   <div id="style_subtitle">  </div>

<!--      
    <nav>
<ul class="solidblockmenu">
<li><a href="/" class="current">🏠 Home</a></li>
<li><a href="/about">🤔 About</a></li>
<li><a href="/travel">🌍 Travel</a></li>
<li><a href="/lang">💬 Language</a></li>
<li><a href="/likes">🎦 Films seen</a></li>
<li><a href="/inspiration">💡 Inspiration</a></li>
</ul>
    </nav>
-->
     
 <div id="style_content">   
  
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:bkitwe@gmail.com">email</a></li>
   <li><a href="https://witbag.github.io">witbag.github.io</a></li>
   </ul>
  </footer>
  </body>

</html>
